__pycache__/
*.pyc
*.pyo
.env
*.pkl
*.keras
*.h5
hybrid_model/autoencoder.keras
hybrid_model/xgb_model.pkl
hybrid_model/scaler.pkl
hybrid_model/selected_columns.pkl
models/rf_model.pkl
models/xgb_model.pkl
models/scaler.pkl
models/label_encoder.pkl
*.egg-info/
dist/
build/
.DS_Store
Thumbs.db